<div class="field">
	<label for="{{ name }}">
		<span class="field-label">{{ label }}</span>
		<span class="field-hint">{{ hint }}</span>
	</label>
	<input type="password" id="{{ name }}" name="{{ name }}">
</div>
